 <%- include("../partials/header") %>

     <main class="photo">
     <form action="/photos" method="POST">
     <select name="userId">
     <% for (let i = 0; i < users.length; i++) {%>
     <option value="<%=users[i]._id%>"><%=users[i].user%></option>
     <%}%><br><br>
     <p>TITLE:</p> <input type="text" name="name"> <br>
     <p>IMAGE:</p> <input type="text" name="image"><br>
     <button type="submit">Enter New Picture</button>
     </form>
     </main>
     
 <%- include("../partials/footer") %>