<%- include("./partials/header") %>

  <header>
    <h1>Req.Pic</h1>
    <nav>
      <ul>
        <li><a href="/users">Users</a></li> | <li><a href="/photos">Photos</li>
      </ul>
    </nav>
  </header><!-- /header -->

<%- include('./partials/footer') %>